.the-header__right {
  -webkit-box-pack: end;
  justify-content: flex-end;
  height: 100%;
  margin-left: 20px;
  .the-header__right__inner-warp {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
  }
}

.base-popover__content {
  position: absolute;
  top: 100%;
  width: 500px;
  right: 0;
  left: auto;
  border: 1px solid #dfdfeb;
  border-radius: 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}
